<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="dx-viewport">

    <h1>
        Test for component integration - hosting component {{ title }}!
    </h1>

    <h3>Original</h3>
    <ul>
        <li *ngFor="let item of ls.dataService">{{item.name}}</li>
    </ul>
    <button (click)="addFilter()">Add Main Filter</button>


    <app-test01 [data]="data"></app-test01>

    <app-test02 [data]="data"></app-test02>


    <app-devext01></app-devext01>


    <br/>
    <app-foundation01></app-foundation01>


</div>